



body{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  background-color: #011627;
  /*border-color: #2EC4B6;*/

  padding-left: 200px;
  padding-right: 200px;
  border: 200px;
  border-left: 60px solid #2EC4B6;
  border-right: 60px solid #2EC4B6;
  border-bottom: 60px solid #2EC4B6;
  border-top: 10px solid #011627;
  /*margin-bottom: 0px;*/
}

p{
  padding-left: 20px;
  padding-right: 20px;
}

#firstName{
  width: 250px;
  height: 25px;
  /*border-bottom: 15px solid #011627;*/
}

#lastName{
  width: 250px;
  height: 25px;
}

#email{
  width: 250px;
  height: 25px;
}

#submitButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
}
